<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Must-Visit Travel Destinations</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <main>
            <h1>Must-Visit Travel Destinations Before You Die</h1>
            <ul>
                <li><a href="/destination/1">Santorini, Greece</a></li>
                <li><a href="/destination/2">Great Wall of China</a></li>
                <li><a href="/destination/3">Machu Picchu, Peru</a></li>
                <li><a href="/destination/4">Grand Canyon, USA</a></li>
                <li>
                    <a href="/destination/5">Bora Bora, French Polynesia</a>
                </li>
            </ul>
        </main>
    </body>
</html>
